@model BlogCentral.Web.Models.DTO.TagUpdateRequest
@{
    ViewBag.Title = "Edit Tag";
}


<div class="container">


    <div>
        <a asp-controller="Tag" asp-action="Index" class="btn btn-outline-info">Back to Tag</a>
        <form asp-area="Admin" asp-controller="Tag" asp-action="Edit">
            <div class="row mt-3 p-3 border ">
                <div class="row pb-2 mb-3">
                    <h2 class="text-info">Edit Tag</h2>
                    <hr />
                </div>
                <input type="text" name="Id" hidden value="@Model.Id" />
                <div class="mb-4 row">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" value="@Model.Name" class="form-control rounded-3 text-info" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-4 row">
                    <label asp-for="DisplayName"></label>
                    <input asp-for="DisplayName" value="@Model.DisplayName" class="form-control rounded-3 text-info" />
                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                </div>
                <div class="mb-4 row">
                    <button type="submit" class="btn btn-info rounded-4" style="width:250px;">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>